<h1 mat-dialog-title>Şifre Değiştir</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field
      appearance="outline"
      class="full-width"
      style="margin-top: 16px"
    >
      <mat-label>Mevcut Şifre</mat-label>
      <input
        matInput
        [type]="hideCurrent ? 'password' : 'text'"
        formControlName="currentPassword"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideCurrent = !hideCurrent"
        [attr.aria-label]="'Şifreyi Göster'"
        [attr.aria-pressed]="!hideCurrent"
      >
        <mat-icon>{{ hideCurrent ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Yeni Şifre</mat-label>
      <input
        matInput
        [type]="hideNew ? 'password' : 'text'"
        formControlName="newPassword"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideNew = !hideNew"
        [attr.aria-label]="'Şifreyi Göster'"
        [attr.aria-pressed]="!hideNew"
      >
        <mat-icon>{{ hideNew ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">İptal</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Kaydet</button>
</div>
